<?php
    define('DB_USERNAME', '');
    define('DB_HOST', '');
    define('DB_PASSWORD', '');
    define('DB_NAME', '');

    
    define('MAIL_HOST', '');
    define('MAIL_TCP_PORT', '');
    define('MAIL_SENDER_USERNAME', '');
    define('MAIL_SENDER_PASSWORD', '');
    define('MAIL_RECEIVER', '');
    define('MAIL_CC', '');
    define('MAIL_BCC', '');
    define('MAIL_SUBJECT', '');
    
    define('ADMIN_USERNAME', '');
    define('ADMIN_PASSWORD', '');
     
?>
